[submodule "src/components/lib/ps"]
	path = src/components/lib/ps
	url = https://github.com/gwsystems/ps.git
[submodule "src/platform/cav7/compiler-rt"]
	path = src/platform/cav7/compiler-rt
	url = https://git.llvm.org/git/compiler-rt
